apiVersion: sparkoperator.k8s.io/v1beta2
kind: SparkApplication
metadata:
  name: {{ include "spark-job.fullname" . }}
  labels:
    {{- include "spark-job.labels" . | nindent 4 }}
spec:
  {{- with .Values.spark }}
  type: {{ .type }}
  mode: cluster
  {{- if .pythonVersion }}
  pythonVersion: "{{ .pythonVersion }}"
  {{- end }}
  image: {{ .image.repository }}:{{ .image.tag }}
  imagePullPolicy: IfNotPresent
  mainApplicationFile: {{ .mainApplicationFile }}
  sparkVersion: 3.5.3
  driver:
    labels:
      version: 3.5.3
      {{- if .driver.labels }}
      {{- .driver.labels | toYaml | nindent 6 }}
      {{- end }}
    {{- if .driver.annotations }}
    annotations:
      {{- .driver.annotations | toYaml | nindent 6 }}
    {{- end }}
    {{- if .driver.affinity }}
    affinity:
      {{- .driver.affinity | toYaml | nindent 6 }}
    {{- end }}
    {{- if .driver.tolerations }}
    tolerations:
      {{- .driver.tolerations | toYaml | nindent 6 }}
    {{- end }}
    {{- if .driver.resources }}
    resources:
      {{- .driver.resources | toYaml | nindent 6 }}
    {{- end }}
    cores: 1
    memory: 2G
    serviceAccount: spark-operator-spark
    {{- if .driver.volumeMounts }}
    volumeMounts:
      {{- .driver.volumeMounts | nindent 6 }}
    {{- end }}
    {{- if .driver.env }}
    env:
      {{- .driver.env | toYaml | nindent 6 }}
    {{- end }}
  executor:
    labels:
      version: 3.5.3
      {{- if .executor.labels }}
      {{- .executor.labels | toYaml | nindent 6 }}
      {{- end }}
    {{- if .executor.annotations }}
    annotations:
      {{- .executor.annotations | toYaml | nindent 6 }}
    {{- end }}
    {{- if .executor.affinity }}
    affinity:
      {{- .executor.affinity | toYaml | nindent 6 }}
    {{- end }}
    {{- if .executor.tolerations }}
    tolerations:
      {{- .executor.tolerations | toYaml | nindent 6 }}
    {{- end }}
    {{- if .executor.resources }}
    resources:
      {{- .executor.resources | toYaml | nindent 6 }}
    {{- end }}
    instances: 1
    cores: 1
    memory: 2G
    {{- if .executor.volumeMounts }}
    volumeMounts:
      {{- .executor.volumeMounts | nindent 6 }}
    {{- end }}
    {{- if .executor.env }}
    env:
      {{- .executor.env | toYaml | nindent 6 }}
    {{- end }}
  {{- if .volumes }}
  volumes:
    {{- .volumes | nindent 4 }}
  {{- end }}
  {{- if .dynamicAllocation.enabled }}
  {{ with .dynamicAllocation }}
  dynamicAllocation:
    enabled: true
    {{- if .minExecutors }}
    minExecutors: {{ .minExecutors }}
    {{- end }}
    {{- if .maxExecutors }}
    maxExecutors: {{ .maxExecutors }}
    {{- end }}
    {{- if .initialExecutors }}
    initialExecutors: {{ .initialExecutors }}
    {{- end }}
    {{- if .shuffleTrackingTimeout }}
    shuffleTrackingTimeout: {{ .shuffleTrackingTimeout }}
    {{- end }}
  {{- end }}
  {{- end }}
  {{- with .deps }}
  deps:
    {{- if .jars }}
    jars:
      {{- .jars | nindent 6 }}
    {{- end }}
    {{- if .files }}
    files:
      {{- .files | nindent 6 }}
    {{- end }}
    {{- if .pyFiles }}
    pyFiles:
      {{- .pyFiles | nindent 6 }}
    {{- end }}
    {{- if .packages }}
    packages:
      {{- .packages | nindent 4 }}
    {{- end }}
    {{- if .excludePackages }}
    excludePackages:
      {{- .excludePackages | nindent 4 }}
    {{- end }}
    {{- if .repositories }}
    repositories:
      {{- .repositories | nindent 4 }}
    {{- end }}
    {{- if .archives }}
    archives:
      {{- .archives | nindent 4 }}
    {{- end }}
  {{- end }}
  {{- end }}
